@import './variables.scss';

body {
    background-image: linear-gradient(rgba(105, 98, 109, 0.26)
    , rgba(105, 98, 109, 0.26)
    ), url("../assets/bar.jpg");
    background-size: cover;
    padding-bottom: 100px;
}

.cardDisplay {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .cardDisplay .card {
    margin: 10px;
  }

.navbar-expand-lg.navbar-dark.bg-dark {
    display: flex;
    justify-content: space-around;
}


.NavItems {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: right;
}

.FilteredOptions {
    display: flex;
    justify-content: space-around;
    color: white;
}

.form {
    width: 30%;
    margin: 45px;
    padding: 5px;
    border-radius: 5px;
    background-color:#212529ad;
}

.homeContainer {
    display: flex;
    justify-content: center;
}

.openingMessage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    margin: auto;
    margin-top:30vh;
    background-color: rgb(126, 66, 66);
    max-width: 500px;
    border-radius: 10px;
    border: 5px solid rgb(251, 247, 247);
    .nav-link{
        background: rgb(238, 214, 214);
        color: rgb(67, 66, 53);
        font-size: 30px;
        font-weight: 500;
        border: solid whitesmoke;
        padding: 5px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
    h1{
        border-bottom: solid white;
        padding-bottom: 10px;
    }
}